#contentServices .content .filer-img .controls li.active,#contentServices .content .filer-img .controls li:hover,#contentServices .content .filer-img .myFilter .singl_card a:hover,#contentServices .content .filer-img .myFilter .singl_card:hover h3,h3{color:#ffa800}.layout,.main{max-height:400px;overflow:hidden;min-height:0!important}.layout img,.main img{width:100%;height:auto}h3{font-family:Montserrat-Bold}section{overflow:initial!important}#contentServices .backgrouend_left,#contentServices .backgrouend_right{position:absolute;inset:0;overflow:hidden}#contentServices .backgrouend_left img,#contentServices .backgrouend_right img{mix-blend-mode:multiply;width:100%;height:auto}#contentServices .backgrouend_left{right:auto;top:auto}#contentServices .content .filer-img{width:100%}#contentServices .content .filer-img .controls{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:70px}#contentServices .content .filer-img .controls li{color:#fff;padding:20px;cursor:pointer;font-size:18px;font-family:Montserrat-Regular;-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out}#contentServices .content .filer-img .myFilter{width:100%;display:grid;grid-template-columns:repeat(3,1fr);gap:25px}#contentServices .content .filer-img .myFilter .mix{display:none}#contentServices .content .filer-img .myFilter .singl_card{margin-bottom:50px;width:100%}#contentServices .content .filer-img .myFilter .singl_card .img_card{margin-bottom:15px;height:300px;overflow:hidden}#contentServices .content .filer-img .myFilter .singl_card .img_card img{height:100%;width:100%;-o-object-fit:cover;object-fit:cover;-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out}#contentServices .content .filer-img .myFilter .singl_card .img_card img:hover{-webkit-transform:scale(1.1);transform:scale(1.1)}#contentServices .content .filer-img .myFilter .singl_card a,#contentServices .content .filer-img .myFilter .singl_card p{font-family:Montserrat-light}#contentServices .content .filer-img .myFilter .singl_card h3{font-size:17px;margin-top:15px;margin-bottom:15px;font-weight:100;color:#fff;-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out}


.pagination {
    width: 900px;
    margin: 0 auto;
  }
  .pagination a {
    float: left;
    list-style: none;
    margin-left: 15px;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .mix {
    display: none;
  }
  a.jp-current {
    color: red;
  }
